<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="5 seconds">
	<property name="log.context.name" value="guice-example" />
	<property name="STDOUT_PATTERN" value="%date{yyyy-MM-dd HH:mm:ss.SSS} -%5level [%15.15thread] %-40.40logger{39} : %msg%n" />
	<property name="FILE_PATTERN" value="%date{yyyy-MM-dd HH:mm:ss.SSS} -%5level [%15.15thread] %-40.40logger{39} : %msg%n" />
	<!-- Simple file output -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<!-- 引用的base中定义的 -->
			<pattern>
				${FILE_PATTERN}
			</pattern>
			<charset>UTF-8</charset>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- 日志名 -->
			<fileNamePattern>../logs/${log.context.name}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- 每个日志大小 -->
			<maxFileSize>64MB</maxFileSize>
			<!-- 保存60天的 -->
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ALL</level>
		</filter>
		<prudent>true</prudent>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				${STDOUT_PATTERN}
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
			<!--<level>WARN</level>-->
		<!--</filter>-->
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="pedestal" level="ALL" />
	<logger name="hammock-cafe" level="ALL" />
	<logger name="user" level="ALL" />
	<logger name="ch.qos.logback" level="OFF" />
</configuration>