<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzz.dao.UserMapper">
    <resultMap id="userVo" type="userVo">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
    </resultMap>

    <select id="getByUsername" resultMap="userVo" parameterType="String">
        SELECT * FROM user u WHERE u.username = #{username}
    </select>

    <select id="findAll" resultMap="userVo">
        SELECT * FROM user
    </select>
</mapper>  